@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido a mi aplicación</h1>
    <p class="lead">Esta es una aplicación web creado en ASP.NET con plantilla MVC</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Un vistazo</h2>
        <p>
            En esta aplicación podrá calcular cualquier numero, podría ayudar
            mucho para esos calculos horrorosos. También podrá crear un formulario de las materias y tareas.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Olvídate de los problemas con Excel</h2>
        <p>
            En esta aplicación podrás subir un documento excel para que puedas
            verificar los resultados antes de realizar alguna comprobación.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Vinculación con Facebook</h2>
        <p>
            Sabemos lo importante que es mantener la comodidad de nuestros 
            usuarios y por ello tenemos la función de registro o inicio de sección con Facebook.
        </p>
    </div>
</div>